<!doctype html>
<html>
<head>
    <title>Express 4.x Application</title>

    <!-- stylesheets -->
    {{> common-essential-stylesheets }}

    <!-- custom body style -->
    <style>
        body { padding-top:80px; }
    </style>

</head>
<body>

    <!-- header -->
    {{> common-header }}

    <!-- page1 content -->
    {{> page1-content }}

    <!-- essential scripts -->
    {{> common-essential-scripts }}

    <!-- main js app -->
    <script src="/javascript/page1.js"></script>

</body>
</html>